.bg-prim {
  background-color: $primary;

  &.grad-to-darker {
    background: linear-gradient(0deg, $primary-darker-semi-trans -25%, $primary 100%);
  }
}
.bg-sec {
  background-color: $secondary;
}
.bg-ter {
  background-color: $tertiary;
}

.color-prim {
  color: $primary;
}
.color-sec {
  color: $secondary;
}
.color-ter {
  color: $tertiary;
}