// Body
$body-bg: black;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #1071D3;
$primary-trans: #1071D3a1;
$primary-transier: #1071D31f;
$secondary: #CB9F35;
$tertiary: #fafafa;
$tertiary-darker: #fbfbfb;
$primary-darker: #2a4865;
$primary-darker-semi-trans: rgb(42, 72, 101, 0.25);