// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "shortcuts";

//Bootstrap Vue
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  overflow-x: hidden;
}

.body-bg {
  background-image: url("/img/body_background4.webp");
  min-height: 100vh;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.aces-el {
  transition: all .3s ease-out;
  position: absolute;
  bottom: -7rem;
  height: 28rem;
  filter: blur(2px);
  transform: rotate(35deg);
  left: 1rem;
  display: flex;

  &:hover {
    filter: blur(0);
    transform: scale(1.1) rotate(10deg);
    left: 0;
    bottom: -5rem;
  }
}

nav {
  position: absolute !important;
  top: 0;
  width: 100vw;
  z-index: 1050;

  .menu-icon-btn {
    margin-left: auto;
    font-size: 30px;
    outline: none;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .logo {
    height: 40px;
    width: 85px;
    transform: scale(1.4);
    transition: transform .3s;

    &:hover {
      transform: scale(1.5)
    }
  }

  .b-sidebar-body {
    background-color: $secondary;
    color: $tertiary-darker;

    .menu-icon-btn{
      margin-left: 1rem;
      margin-top: 0.85rem;
    }
  }

  .b-sidebar .m-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    height: 30px;

    .m-footer-link {
      text-decoration: none;
      margin-left: auto;
      color: #fafafa;
      opacity: 0.85;
      transition: opacity 0.3s;

      &.icon {
        cursor: pointer;
        font-size: 20px;
        background: #fafafa;
        color: #0A66C2 !important;
        border-radius: 2px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .login-btn {
    position: absolute;
    right: 3.5rem;
    z-index: 1040;

    .login-spinner {
      position: absolute;
      left: 12%;
    }

    button.dropdown-toggle, button:not([type=submit]) {
      background: white;

      &:hover {
        border-color: white;
        background: $primary;
      }
    }
  }
}

.social-btn {
  cursor: pointer;
  background: white;
  padding: 5px 8px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 0.2rem;
  transition: transform 0.3s;
  border: 2px solid $primary-trans;

  img {
    height: 30px;
  }

  span {
    margin: auto;
    font-size: 17px;
  }

  .geo-svg {
    margin: 0 0.5rem;
    height: 27px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.login-form-container {
  min-width: 200px;

  .login-form {
    padding: 0 1rem;

    form {
      padding: 0
    }

    label {
      font-size: 14px;
      margin-bottom: 0;
    }

    .form-group {
      margin-bottom: 0.5rem;
    }
  }

  .sub-action-btn {
    transition: all .3s;

    &hover {
      color: $tertiary;
      background: $primary;
    }
  }
}

.language-select-container {
  margin: 0.5rem auto 0;

  .language-select-icon {
    width: 30px;
    border: 2px solid $tertiary;
    background: $tertiary-darker;
    border-radius: 50%;
    margin-left: 0.25rem;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.body-content-container {
  max-width: 100vw;
  overflow: hidden;


  .content-main-el-container {
    min-height: 70vh;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url("/img/body_background4.webp") no-repeat center;
      background-size: cover;
      transform: scaleX(-1);
    }

    .content-main-el-body {
      min-height: 70vh;
      padding-top: 5rem;
    }
  }

  .featured-game-card {
    height: 100%;
    border-radius: 4px 4px 0 0;
    border: 2px solid $primary-trans;
    border-bottom: none;

    .card-body {
      display: flex;
      flex-direction: column;

      * {
        margin: auto;
      }

      .fg-players-list span, .fg-dealers-list span {
        margin-right: 0.15rem;
      }
    }
  }

  .games-list-container {
    display: flex;
    background: linear-gradient(0deg, #1063b7 0%, #64b1ff 100%);
    min-height: 30vh;
    z-index: 1041;

    .games-list-entry {
      margin: auto 0;
      .card {
        text-align: center;
        width: 250px;
        max-width: 100vw;
        height: 200px;
        margin: 0.2rem 3px;
        transition: transform .3s;

        &:hover {
          transform: scale(1.025);
          cursor: pointer;
        }

        .card-body {
          padding: 0.5rem 1rem;
          display: flex;
          flex-direction: column;
          word-wrap: break-word;
          white-space: pre-line;

          .game-name {
            max-height: 3rem;
            overflow: hidden;
          }

          .game-desc {
            margin: auto 0;
            max-height: 5rem;
            overflow-x: hidden;
            overflow-y: auto;
          }
        }
      }
    }

    .pagination-flag {
      display: flex;
      font-size: 60px;
      color: $tertiary;

      svg, span {
        margin: auto 1rem;
      }
    }
  }
}

.avatar {
  background: $primary;
  color: $tertiary;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0.5rem;
  background: $primary-transier;
  border: 1px solid $primary-transier;

  &.rounded-scroll {
    border-radius: 0 0 10px 10px;
  }
}

.custom-scroll-bar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $primary-transier;
    border-radius: 10px;
    opacity: 0.5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px $primary-trans;
    background-color: $tertiary;
  }

  &.horizontal-thumb-bot {
    &::-webkit-scrollbar-track {
      border-radius: 0 0 10px 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0 0 5px 5px;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }
  }
}

.tooltip {
  opacity: 1 !important;

  .tooltip-inner {
    color: black;
    background: $tertiary;
    border: 1px solid $primary;
  }

  &[x-placement=right] {
    .arrow::before {
      border-right-color: $primary;
    }
  }

  &[x-placement=left] {
    .arrow::before {
      border-left-color: $primary;
    }
  }

  &[x-placement=right] {
    .arrow::before {
      border-right-color: $primary;
    }
  }

  &[x-placement=top] {
    .arrow::before {
      border-top-color: $primary;
    }
  }

  &[x-placement=bottom] {
    .arrow::before {
      border-bottom-color: $primary;
    }
  }
}