
<template>
  <div>
    <div class="content-main-el-container">
<!--      <div class="body-bg"></div>-->
      <img src="/img/aces.png" class="aces-el" alt="aces"/>
      <div class="row justify-content-center content-main-el-body">
        <div class="col-md-2">
<!--          TODO: put social components url`s into static db variable -->
          <social url="https://google.com" :desc="trans.get('general.viber_group_title')" svg="img/socials/viber.svg"></social>
          <social url="https://www.instagram.com/pokershark_kherson/" desc="Instagram" svg="img/socials/instagram.svg"></social>
          <social url="https://www.facebook.com/pages/category/Local-Business/%D0%A8%D0%B0%D1%80%D0%BA-%D0%9F%D0%BE%D0%BA%D0%B5%D1%80-2046467958986905/" desc="Facebook" svg="img/socials/facebook.svg"></social>
          <social url="https://goo.gl/maps/8XkZcEbVk1EC4L2n6" :desc="trans.get('general.location')" svg="img/socials/geo_pin.svg" svg_class="geo-svg"></social>
          <social desc="+380993192714"></social>
        </div>
        <div class="col-md-4">
          <featured-game v-if="featuredGame" :game="featuredGame"></featured-game>
        </div>
      </div>
    </div>
    <games-list class="games-list-container custom-scroll-bar horizontal-scroll"
                :list="gamesListData" :no-more-data="noMoreGamesData"
                @changeFeaturedGame="changeFeaturedGame" @loadMoreGames="retrieveGamesList"></games-list>
  </div>
</template>

<script>
import Social from "../components/Social";
import FeaturedGame from "../components/FeaturedGame";
import GamesList from "../components/GamesList";

export default {
  components: {
    'social': Social,
    'featured-game': FeaturedGame,
    'games-list': GamesList
  },
  data: function () {
    return {
      featuredGame: null,
      gamesListData: [],
      noMoreGamesData: false
    }
  },
  mounted: function () {
    let vm = this;

    console.log('retrieving');
    vm.retrieveGamesList();
  },
  methods: {
    changeFeaturedGame: function (game) {
      this.featuredGame = game;
    },
    retrieveGamesList: function (page) {
      let vm = this;
      console.log('getting more games');

      axios.get('/api/games-list?page=' + (page ?? 1)).then(function (response) {
        console.log(response.data.data);
        vm.gamesListData = vm.gamesListData.concat(response.data.data);
        if (!vm.featuredGame && response.data.data) {
          vm.changeFeaturedGame(response.data.data[0]);
        }
        if (!response.data.next_page_url){
          vm.noMoreGamesData = true;
        }
      });
    }
  }
}
</script>