<template>
  <div class="card featured-game-card" v-if="game.name">
    <div class="card-header row">
<!--      TODO: add missing localization variables-->
<!--      TODO: add join tournament functionality for users-->
<!--      TODO: add active game management functionality for admin users-->
      <span class="col-7">{{game.name}}</span>
      <span class="float-right col-5 text-right">{{game.start_at}}</span>
    </div>

    <div class="card-body">
      <div class="text-center" v-if="game.dealers">
        <span>Dealers:</span>
        <div class="fg-dealers-list d-flex">
          <span v-for="dealer in game.dealers">
            <b-avatar :src="dealer.avatar" v-b-tooltip.nofade :title="dealer.name" class="avatar"></b-avatar>
          </span>
        </div>
      </div>
      <div class="text-center pt-2">{{game.description}}</div>
      <div v-if="game.prize_fund" class="text-center d-flex flex-column">
        <span>Prizes:</span>
        <span>{{game.prize_fund}}</span>
      </div>
      <div v-if="game.players" class="horizontal-scroll rounded-scroll custom-scroll-bar horizontal-thumb-bot position-relative fg-players-list">
        <span v-for="player in game.players">
          <b-avatar :src="player.avatar"
                    v-b-tooltip.right.nofade :title="player.name" class="avatar"></b-avatar>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FeaturedGame",
  props: ['game']
}
</script>

<style scoped>

</style>