<template>
  <div @scroll="checkIfNextPageShouldBeLoaded">
    <div v-for="entry in list" class="games-list-entry">
      <div class="card" @click="changeFeaturedGame(entry)">
        <div class="card-header">{{entry.start_at}}</div>
        <div class="card-body">
          <h4>{{entry.name}}</h4>
          <div class="game-desc custom-scroll-bar">{{entry.description}}</div>
        </div>
      </div>
    </div>
    <div v-if="!noMoreData" class="pagination-flag">
      <b-spinner v-if="gamesListLoading"></b-spinner>
      <b-icon ref="paginationFlag" v-else icon="arrow-bar-right" aria-hidden="true"></b-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: "GamesList",
  props: ['list', 'noMoreData'],
  data: function () {
    return {
      gamesListLoading: false,
      page: 1
    }
  },
  methods: {
    changeFeaturedGame: function (game) {
      this.$emit('changeFeaturedGame', game)
    },
    /**
     * Check if the horizontal list of games has reached its end,
     * and the next the page for games list should be loaded,
     * emits event if true
     * @returns {boolean}
     */
    checkIfNextPageShouldBeLoaded(){
      let flag = this.$refs.paginationFlag;
      if(!flag) return false;
      let rect = flag.getBoundingClientRect();
      let res = (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
      if(res && !this.noMoreData) {
        this.page++;
        this.$emit('loadMoreGames', this.page);
      }

      return res;
    }
  }
}
</script>

<style scoped>

</style>