<template>
  <div>
    <img v-if="img" :src="img" alt="language_img" class="language-select-icon" @click="changeLocale"/>
  </div>
</template>

<script>
export default {
  name: "LanguageSelect",
  props: ['img', 'lang_key'],
  methods: {
    changeLocale(){
      localStorage.setItem('locale', this.lang_key);
      this.trans.setLocale(this.lang_key);
      window.location.reload();
    }
  }
}
</script>

<style scoped>

</style>