<template>
  <div class="login-form-container">
    <b-dropdown-form class="login-form" @submit.prevent="login">
      <b-form-group :label="trans.get('general.email')" label-for="dropdown-form-email">
        <b-form-input size="sm" v-model.trim="$v.email.value.$model" placeholder="email@example.com"
                      aria-describedby="login_email_val_errors" :state="email.state">
        </b-form-input>
        <b-form-invalid-feedback id="login_email_val_errors" class="text-center">
          {{trans.get('validation.required_email_max_length', {length: $v.email.value.$params.maxLength.max})}}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group :label="trans.get('general.password')" label-for="dropdown-form-password">
        <b-form-input type="password" v-model.trim="$v.password.value.$model" size="sm" :placeholder="trans.get('general.password')"
                      aria-describedby="login_password_val_errors" :state="password.state">
        </b-form-input>
        <b-form-invalid-feedback id="login_password_val_errors" class="text-center">
          {{trans.get('validation.required_min_length', {length: $v.password.value.$params.minLength.min})}}
        </b-form-invalid-feedback>
      </b-form-group>

      <div v-if="authError" class="is-invalid"></div>
      <span class="text-center invalid-feedback">{{authError}}</span>

      <b-button variant="primary" type="submit" size="sm" class="w-100"  @click="login" :disabled="authLoading">
        <b-spinner small v-if="authLoading" class="login-spinner"></b-spinner>
        {{trans.get('general.login')}}
      </b-button>
    </b-dropdown-form>
    <b-dropdown-divider></b-dropdown-divider>
    <div class="text-center">
<!--      TODO: registration and password reset functionality-->
      <b-dropdown-item-button class="sub-action-btn">{{trans.get('general.sign_up')}}</b-dropdown-item-button>
      <b-dropdown-item-button class="sub-action-btn">{{trans.get('general.forgot_password')}}</b-dropdown-item-button>
    </div>
  </div>
</template>

<script>
import {validationMixin} from 'vuelidate';
import {required, email, maxLength, minLength} from "vuelidate/lib/validators";

export default {
  name: "LoginForm",
  mixins: [validationMixin],
  data: function (){
    return {
      email: {
        value: '',
        state: null
      },
      password: {
        value: '',
        state: null
      },
      authLoading: false,
      authError: false
    }
  },
  validations: {
    email: {
      value: {
        required, email, maxLength: maxLength(255)
      }
    },
    password: {
      value: {
        required, minLength: minLength(8)
      }
    }
  },
  methods: {
    login: function () {
      let vm = this;
      vm.changeValidationState();
      if(vm.email.state && vm.password.state){
        vm.authLoading = true;
        axios.post('api/login', {
          email: vm.email.value,
          password: vm.password.value
        }).then(function (response) {
          let token = response.data.token;
          vm.$store.commit('authenticate', token);
        }).catch(function (error) {
          vm.authError = vm.trans.get(vm.$helpers.formAjaxErrorResponseMessageKey(error));
        }).finally(function () {
          vm.authLoading = false;
        });
      }
    },
    changeValidationState: function () {
      this.email.state = this.$helpers.validateState(this.$v, 'email');
      this.password.state = this.$helpers.validateState(this.$v, 'password');
      this.authError = false;
    }
  }
}
</script>

<style scoped>

</style>