<template>
  <div class="d-flex bg-dark text-light align-items-center px-3 py-2 m-footer">
    <span class="text-center">Made by Mike P:</span>
    <b-link class="m-footer-link" href="mailto:zamphox@gmail.com" target="_blank">zamphox@gmail.com</b-link>
    <b-icon-linkedin class="m-footer-link icon" @click="goToLinkedIn"></b-icon-linkedin>
  </div>
</template>

<script>
export default {
  name: "MenuFooter",
  methods: {
    goToLinkedIn: function () {
      window.open('https://www.linkedin.com/in/mykhailo-poliukhovych-1b2391166/', '_blank');
    }
  }
}
</script>

<style scoped>

</style>