<template>
  <div>
    <div class="d-flex">
      <div class="d-flex language-select-container">
        <language-select img="img/flags/english.png" lang_key="en"></language-select>
        <language-select img="img/flags/russian.png" lang_key="ru"></language-select>
<!--        TODO: add ukrainian localization-->
<!--        <language-select img="img/flags/ukrainian.png" lang_key="ua"></language-select>-->
      </div>
    </div>
    <div class="px-3 py-2">
      <p>
<!--        TODO: admin options-->
<!--        TODO: user profile management-->
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
        in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
    </div>
    <menu-footer></menu-footer>
  </div>
</template>

<script>
import MenuFooter from "./MenuFooter";
import LanguageSelect from "./LanguageSelect";

export default {
  name: "SidebarContent",
  components: {
    'menu-footer': MenuFooter,
    'language-select': LanguageSelect
  },
}
</script>

<style scoped>

</style>