<template>
  <div @click="goToSocial()" class="social-btn">
    <img v-if="svg" :src="svg" alt="social_logo" :class="svg_class"/>
    <span>{{desc}}</span>
  </div>
</template>

<script>
export default {
  name: "Social",
  props: ['url', 'svg', 'desc', 'svg_class'],
  methods: {
    goToSocial: function () {
      this.url && window.open(this.url, '_blank');
    }
  }
}
</script>

<style scoped>

</style>