
<template>
  <div>
    <nav-bar></nav-bar>

    <div class="body-content-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar";

export default {
  components: {
    'nav-bar': NavBar,
  },
  created: function(){
    this.interceptUnauthenticatedResponses();
  },
  mounted: function () {
    this.checkIfAuthenticated();
  },
  methods: {
    checkIfAuthenticated: function () {

      return this.acceptCookieAuthToken() && !this.checkIfAuthTokenIsValid();
    },
    checkIfAuthTokenIsValid: function () {
      axios.get('/api/user').then(function (response) {
        return response.data.success;
      });
    },
    interceptUnauthenticatedResponses: function () {
      let vm = this;
      axios.interceptors.response.use(
          response => response,
          function (error) {
            const {status} = error.response;
            if (status === 401) {
              vm.$store.commit('deauthenticate');
            }
            return Promise.reject(error);
          }
      );
    },
    acceptCookieAuthToken: function () {
      let cookie = localStorage.getItem('_token');
      if(cookie && cookie !== 'undefined'){
        this.$store.commit('authenticate', cookie);

        return true;
      }

      return false;
    }
  }
};
</script>