<template>
  <nav class="navbar navbar-expand-md navbar-light bg-prim grad-to-darker">
    <img class="logo color-ter" src="/img/logo.svg" alt="logo"/>
    <div class="login-btn">
      <b-dropdown v-if="!$store.getters.authenticated" right variant="outline-primary" no-caret :text="trans.get('general.login')" ref="dropdown">
        <login-form></login-form>
      </b-dropdown>
      <b-button v-else variant="outline-primary" @click="logout">{{trans.get('general.logout')}}</b-button>
    </div>
    <b-icon-menu-button-wide-fill v-b-toggle.sidebar-1 class="menu-icon-btn float-right color-ter"></b-icon-menu-button-wide-fill>
      <b-sidebar id="sidebar-1" #default="{ hide }" no-header right shadow>
        <b-icon-menu-button-wide-fill class="menu-icon-btn" @click="hide"></b-icon-menu-button-wide-fill>
        <sidebar-content></sidebar-content>
      </b-sidebar>
  </nav>
</template>

<script>

import MenuFooter from "../MenuFooter";
import LoginForm from "../LoginForm";
import SidebarContent from "../SidebarContent";

export default {
  name: "NavBar",
  components: {
    'menu-footer': MenuFooter,
    'login-form': LoginForm,
    'sidebar-content': SidebarContent
  },
  methods: {
    logout: function () {
      axios.get('api/logout');
      this.$store.commit('deauthenticate');
    }
  }
}
</script>

<style scoped>

</style>